.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    font-size: 28px;
    display: flex;
    gap: 10px;
}

.link {
    color: #00ccff;
}

.icon {
    color: rgb(34, 61, 167);
}